.logo-custom{
    max-width: 60px;
    max-height: 60px;
}
.navbar-brand {
  all: unset;
    float: left;
}
html{
    max-width:1100px;
    margin: auto;

}

/*
body {
    background-repeat: no-repeat;
    background-image: url('img_smallflower.jpg');
}

// For width 400px and larger:
@media only screen and (min-width: 400px) {
    body {
        background-image: url('img_flowers.jpg');
    }
}
*/
.bannerSmall {
    display:none;
}

.bannerBig{

    margin: auto;

    width: 100%;
    height: auto;

}
@media only screen and (max-width: 400px) {
    .bannerBig{
        display: none;
    }
    .bannerSmall{
        display: block;
        width: 100%;
        height: auto;
    }
}

.logoSize {
    max-width: 150px;
}

.contact-spacer{
    padding-right: 15px;
}
.contact-spacer-below {
    visibility: hidden ;

}

#mapid { height: 240px; }

#goodByeFont { margin:1px;}
